<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>{{ site.title }} - {{ page.title }}</title>
<meta name="viewport" content="width=1000">
<link rel="stylesheet" href="common/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="../jquery.tinyscroller.js"></script>
</head>
<body><div id="all">

{% include header.html %}

<div class="mod-main" id="main">

	<div class="mod-article">
		<h2>{{ page.title }}</h2>
		{{ content }}
	</div>

</div>

{% include footer.html %}

</div></body>
</html>
